<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <meta charset="UTF-8"/>
    <title>Settings</title>
</head>
<body>
<section layout:fragment="content">
<fieldset>
    <form action="/settings" method="post">
        <label>Entrez le nom d'une nouvelle catégorie</label>
        <input type="text" placeholder="catégorie" name="category"/>
        <input type="submit"/>
    </form>

</fieldset>

    <fieldset>
        <form action="/userprofile" method="post">
            <label>Entrez le nom d'un nouvel utilisateur et son adresse email</label>
            <input type="text" placeholder="nom" name="name"/>
            <input type="text" placeholder="email" name="email"/>
            <input type="submit"/>
        </form>

    </fieldset>

</section>
</body>
</html>